@import url('https://fonts.googleapis.com/css2?family=Life+Savers&display=swap');

body {
    font-family: "Roboto","Arial",sans-serif;
    background-color: aliceblue;
    margin: 0;
    padding: 0;
}

.main {
    display: flex;
    align-items: center;
    border-bottom: 2px solid black;
    background-color: white;
    height: 85px;
}

.primary-nav {
    align-items: center;
    display: flex;
}

.nav-tab {
    list-style-type: none;
    margin-left: 18px;
}

.nav-tab a {
    text-decoration: none;
    color: black;
}

.second-nav{
    margin-left: 900px;
}

.second-nav a {
    text-decoration: none;
    margin-right: 18px;
    color: black;
}

.logotipo {
    width: 170px;
    margin-left: 10px;
}