/* Estilos do primeiro bloco */
body {
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #2d0b3e, #6a0572);
    color: #f5d7eb;
}

header {
    background: linear-gradient(135deg, #d00071, #ff5e62);
    color: #2d0b3e;
    text-align: center;
    padding: 1em;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(135deg, #571845, #900c3f);
    color: #f5d7eb;
    padding: 0.5em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1em;
}

nav a {
    text-decoration: none;
    color: #f5d7eb;
}

section {
    padding: 1em;
}

footer {
    background: linear-gradient(135deg, #d00071, #ff5e62);
    color: #2d0b3e;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.corrente {
    border-bottom: 3px white solid;
}

.user-info {
    margin-left: auto;
}

/* Estilos do segundo e terceiro bloco */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}
